
.card1 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%; 
    max-height: 800px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: 5px 5px 15px #08d15c, -5px -5px 15px #b60808;
    padding: 20px;
    text-align: center;
}

@media (max-width: 600px) {
    .card1 {
        max-width: 90%;     }
}

.datos {
    font-weight: bold;
    font-size: 18px;
    font-family: cursive;
    font-style: italic;
    transition: ease-in;
    line-height: 0.01;
}

.datos:hover {
    color: rgb(243, 3, 3);
}

@keyframes textoDegradado {
    0% {
        color: rgba(255, 0, 0, 0.192);
    }
   
}

.name {
    font-size: 36px;
    font-family: cursive;
    font-style: italic;
    animation: textoDegradado 5s infinite;
}

.button {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 50px;
    background: #050505;
    box-shadow: 20px 20px 60px #bebebe;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover{
    width: 1px;
height: 1px;
}

@media (max-width: 600px) {
    .button {
        width: 10px; 
         height: 10px;
    }

    .button img {
        width: 10px; 
        height: 10px;
    }

    .button img:hover {
        width: 10px; 
        height: 10px;
    }
}

.img {
    margin: 10px;
    width: auto;
    height: auto;
    border-radius: 20px;
    background: #050505;
    box-shadow: 20px 20px 60px #bebebe;
}

@media (max-width: 600px) {
    .img {
        margin: 5px; 
        }
}

@keyframes giro {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.img2 {
    width: 45px;
    animation: giro 4s linear infinite;
}

.img2:hover{
    width: 150px;

}

.link {
    text-decoration: none;
    color: inherit;
}

.buttonF{
    display: flex;
    position: relative;
    left: 150px;
    border-radius: 50px;
    background: #050505;
    box-shadow: 20px 20px 60px #bebebe;
   

    
}



.buttonF:hover {
    
    animation: giro 4s linear infinite;
}


.buttonF2{
    display: flex;
    position: relative;
    right: 150px;
    border-radius: 50px;
    background: #050505;
    box-shadow: 20px 20px 60px #bebebe;
   

    
}



.buttonF2:hover {
    
    animation: giro 4s linear infinite;
}