.div{
    margin: 5%;
    display: flex;
    text-align: center; 
    align-items: center;
    justify-content: space-around;
    align-content: normal;
    max-width: 90%; 
    max-height: 10%;
    border-radius: 20px; 
    background: #0500003d;
    box-shadow: 5px 5px 15px #08d15c, -5px -5px 15px #b60808;
    padding: 0px; 
    
}

.buttonR{
    padding: 0.5em 1.2em; 
    border: none; 
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px; 
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
    }


    .buttonR::before {
        content: '';
        width: 0;
        height: 300%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background: #17C3B2;
        transition: .5s ease;
        display: block;
        z-index: -1;
    }
    
    .buttonR:hover::before {
        width: 105%;
    }
    
    .buttonR:hover {
        color: #111;
    }
    
    
    
    
    

/**/

.buttonL{
    padding: 0.5em 1.2em; 
    border: none; 
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px; 
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
       }

 
.buttonL::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.buttonL:hover::before {
    width: 105%;
}

.buttonL:hover {
    color: #111;
}




      


/**/


.buttonT {
    padding: 0.5em 1.2em; 
    border: none; 
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 28px; 
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
}


.buttonT::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.buttonT:hover::before {
    width: 105%;
}

.buttonT:hover {
    color: #111;
}




