.input {
    margin: 30px;
    background: rgba(250, 2, 2, 0.123);
    border: none;
    outline: none;
    max-width: 400px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #23ff06;
}

.input:hover{
    margin: 30px;
    background: rgba(250, 250, 250, 0.596);
    border: none;
    outline: none;
    max-width: 600px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: red; 
}

.nav .button {
    padding: 0.5em 1.2em; 
    border: none; 
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px; 
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
}

.button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.button:hover::before {
    width: 105%;
}

.button:hover {
    color: #111;
}
