.div {
  
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  align-items: stretch;
}

.img {
  display: grid;
  align-content: space-between;
  align-items: stretch;
  justify-content: space-around;
  padding: 0;
  background-color: #00000091;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
  width: 30vw;
  height: 60vh;
  
  margin-top: 50px;

}

.form {
 
  display: grid;
  align-items: stretch;
  justify-content: space-around;
  padding: 0;
  background-color: #00000091;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
  width: 30vw;
  height: 60vh;
  margin-top: 50px;
  padding-top: 10px;
  align-content: space-evenly;
}

.label1,
.label2 {
  display: grid;
  align-items: stretch;
  justify-content: space-around;
  color: #fff;
  font-size: 24px;
  max-width: 100%;
  margin: 10px;
}

input[type="email"],
input[type="password"] {
  max-width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #2e2e2e;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.error {
  color: #ff5252;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.button {
  margin: auto;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #024912;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #024912;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #024912;
  z-index: -1;
}

.button:hover,
button:focus {
  color: white;
}

.button:hover:before,
button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.button:active {
  transform: scale(0.9);
}
